<div class="container" fxLayoutAlign="center center">
  <div class="main" [ngStyle]="{'height':'90%'}" [ngStyle.lt-md]="{'height':'100%'}" fxFlex="500px" fxFlex.lt-md="100%"
    fxLayoutAlign="center center">
    <div class="score-board" style="height: 100%;width: 80%;overflow-y: scroll;" fxLayout="column" fxLayoutGap="10px">
      <div style="width: 100%;" fxLayoutAlign="space-between center">
        <h3 style="color: white;">Start Quiz</h3>
        <button style="color: white;" mat-icon-button [mat-menu-trigger-for]="menu"><mat-icon>menu</mat-icon></button>
      </div>
      <div *ngIf="!topic" class="topics" fxLayoutGap="15px" fxLayoutAlign="center center">
        <div class="earth topic-btn" (click)="topic='earth'" fxLayoutAlign="center center">
          <img src="../../../assets/1.png" height="90%" alt="Earth">
        </div>
        <div class="mechanical topic-btn" (click)="topic='mech'" fxLayoutAlign="center center">
          <img src="../../../assets/2.png" height="90%" alt="Mechanical">
        </div>
        <div class="health topic-btn" (click)="topic='health'" fxLayoutAlign="center center">
          <img src="../../../assets/3.png" height="90%" alt="Health">
        </div>
      </div>
      <div *ngIf="topic" fxLayout="column">
        <ng-container *ngTemplateOutlet="getTemplate()"></ng-container>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <div class="menu-container" style="width: 200px;">
    <button mat-menu-item routerLink="/settings">
      Settings
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-menu-item routerLink="/login">
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-menu>
<ng-template #spinner><i class="fa fa-spinner fa-spin"></i></ng-template>

<ng-template #earth>
  <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" fxLayout="column">
  <div *ngFor="let q of questions; let i = index" >
    <h3>{{i+1+').  '+ q.question }}</h3>
    <mat-radio-group [formControlName]="'question' + i">
      <mat-radio-button *ngFor="let ans of q.answers" [value]="ans.name">
        {{ ans.value }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="btn-container" style="margin-top: 20px;" fxFlex="100%" fxLayoutALign="flex-end center" fxLayoutGap="20px">
    <button mat-raised-button (click)="topic=null">Back</button>
    <button mat-raised-button color="primary">
      <span *ngIf="!isLoading; else spinner" (click)="onSubmit()">Submit</span>
    </button>
  </div>
</form>
</ng-template>
<ng-template #mech>
  <div class="not-available" fxLayoutAlign="center center">
    <h3>Questions not available</h3>
  </div>
</ng-template>
<ng-template #health>
  <div class="not-available" fxLayoutAlign="center center">
    <h3>Questions not available</h3>
  </div>
</ng-template>