/* For use in src/lib/core/theming/_palette.scss */
$md-white: (
    50 : #fdfdfe,
    100 : #f9fafb,
    200 : #f6f6f9,
    300 : #f2f2f7,
    400 : #eff0f5,
    500 : #ecedf3,
    600 : #eaebf1,
    700 : #e7e8ef,
    800 : #e4e5ed,
    900 : #dfe0ea,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

